<!DOCTYPE html>
<head>
<title>Twickr</title>
<style type="text/css">
* {margin: 0; padding: 0;}
div {margin: 30px auto; width: 40%;}
div p {font-size: 120%; font-family: Helvetica, Arial, sans-serif;}
p#author {color: #666; margin-left: 50%; margin-top: 10px;}
p#num-searches {font-size: 80%;}
img {padding: 0 auto;}
.error {color: #f00;}
</style>
</head>

<body>
<div id='tweet'>
{% if tweet_text %}
	<p id='tweet-text'>{{ tweet_text }}</p>
	<p id='author'>-- @{{ tweet_author }}</p> 
{% else %}
	<p class='error'>ERROR: Unable to get a tweet from Twitter.</p>
{% endif %}
</div>

{% if query_word %}
	<div id='photo'>
	{% if photo_url %}
		<img src='{{ photo_url }}' title='{{ query_word }}' alt='{{ query_word }}'/>
	{% else %}
		<p class='error'>No photos could be found by searching Flickr for "{{ query_word }}."</p>
	{% endif %}
	</div>
{% else %}	
	<div id='caption'>
	<p class='error'>ERROR: No valid keywords could be extracted.</p>
	</div>


<div id='counter'>
<p id='num-searches'>{{ num_searches }} searches have been performed.</p>
</div>

{% endif %}

</body>
</html>